<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="3 seconds">
    <!--设置日志输出为控制台-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 保留的归档文件的最大数量 -->
    <property name="max.history" value="30"/>

    <!--设置日志输出为文件，使用相对路径，默认在jar包同级目录-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/onesAutoWorkTask.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/onesAutoWorkTask.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>${max.history}</maxHistory>
            <totalSizeCap>30GB</totalSizeCap>
        </rollingPolicy>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{32} - %msg%n</Pattern>
        </layout>
    </appender>

    <!-- 日志输出级别 -->
    <root>
        <level value="INFO"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- 不在控制台打印，只在文件中输出 -->
    <logger name="ones" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>